body {
  background-color: black;
  text-align: center;
	scroll-behavior: ease-in-out;
}

#Title {
  font-size: 250px;
	font-family: fredoka;
  background: linear-gradient(45deg, #4dff88, #3399ff);
  background-size: 100% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
	transition: background 1s ease;
	user-select: none;
	cursor: default;
}
.ContentTextContainer {
	font-family: fredoka;
  background: linear-gradient(45deg, #4dff88, #3399ff);
  background-size: 100% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
	user-select: none;
	padding: 2px;
}
.ContentText {
	font-size: 25px;
	transition: background 1s ease;
	user-select: none;
	cursor: default;
}

/* Specific styling for the link within the label */
label a{
		
		font-family: fredoka;
  	background: linear-gradient(45deg, #4dff88, #3399ff);
  	background-size: 100% 100%;
 	 	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    padding: 5px 10px;
    border: 2px solid #007bff; /* Border style */
    border-radius: 20px;
    transition: border-color 0.3s;
    display: inline-block;
}

label a:hover {
    border-color: #00bcd4; /* Change border color on hover */
}
.stickysocials {
	position: fixed;
	color: white;
}
